*,
html {
    margin: 0;
    padding: 0;
}


.container-navbar {
    background-color: whitesmoke;
    width: 100%;
    height: 12vh;
    border-radius: 19px;
}

.ul-navbar {
    display: flex;
    height: 15hv;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-size: 20px;
    list-style-type:none;
    padding: 4vh;
    margin: 1;
    color: black;
    font-family: "Rampart One", sans-serif;
}

.li-navbar :hover {
    background-color: whitesmoke;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8vh;
}

.a-navbar{
    color: black;
    text-decoration: none;
}
.content {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-size: larger;
  font: weight 400vh;
  font-style:normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.p2-content{
  font-family: "Rampart One", sans-serif;
  font-weight: 400vh;
  font-style: normal;
}

.hero-container {
  width: 100%;
  height: 100vh; 
  position: relative; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 0;
  height: 0;
  z-index: -1;
  object-fit: cover; 
  filter:blur(1vh);
}

.content {
  text-align: center;
  color: rgba(254, 254, 254, 0.925);
  z-index: 1;
}

.pixelart-to-css {
transition: ease-in-out;
display:flex;
position-visibility: inherit;
 position: absolute;
  left: 50%;
  transform: translateX(-200px);
animation: x 1s infinite;
-webkit-animation: x 1s infinite;
-moz-animation: x 1s infinite;
-o-animation: x 1s infinite;
}

@keyframes x {
0%, 33.3%{
  box-shadow: 125px 125px 0 0 #e91e63, 150px 125px 0 0 #e91e63, 175px 125px 0 0 #e91e63, 200px 125px 0 0 #e91e63, 225px 125px 0 0 #e91e63, 250px 125px 0 0 #e91e63, 275px 125px 0 0 #e91e63, 300px 125px 0 0 #e91e63, 125px 150px 0 0 #000000, 150px 150px 0 0 #e91e63, 175px 150px 0 0 #e91e63, 200px 150px 0 0 #000000, 225px 150px 0 0 #000000, 250px 150px 0 0 #e91e63, 275px 150px 0 0 #e91e63, 300px 150px 0 0 #000000, 125px 175px 0 0 #ffcdd2, 150px 175px 0 0 #000000, 175px 175px 0 0 #000000, 200px 175px 0 0 #ffcdd2, 225px 175px 0 0 #ffcdd2, 250px 175px 0 0 #000000, 275px 175px 0 0 #000000, 300px 175px 0 0 #ffcdd2, 125px 200px 0 0 #ffcdd2, 150px 200px 0 0 #ffcdd2, 175px 200px 0 0 #ffcdd2, 200px 200px 0 0 #ffcdd2, 225px 200px 0 0 #ffcdd2, 250px 200px 0 0 #ffcdd2, 275px 200px 0 0 #ffcdd2, 300px 200px 0 0 #ffcdd2;height: 25px; width: 25px;
  }
33.309999999999995%, 66.7%{
  box-shadow: 125px 125px 0 0 #e91e63, 150px 125px 0 0 #e91e63, 175px 125px 0 0 #e91e63, 200px 125px 0 0 #e91e63, 225px 125px 0 0 #e91e63, 250px 125px 0 0 #e91e63, 275px 125px 0 0 #e91e63, 300px 125px 0 0 #e91e63, 125px 150px 0 0 #000000, 150px 150px 0 0 #e91e63, 175px 150px 0 0 #e91e63, 200px 150px 0 0 #000000, 225px 150px 0 0 #000000, 250px 150px 0 0 #e91e63, 275px 150px 0 0 #e91e63, 300px 150px 0 0 #000000, 125px 175px 0 0 #ffcdd2, 150px 175px 0 0 #000000, 175px 175px 0 0 #000000, 200px 175px 0 0 #ffcdd2, 225px 175px 0 0 #ffcdd2, 250px 175px 0 0 #000000, 275px 175px 0 0 #000000, 300px 175px 0 0 #ffcdd2, 125px 200px 0 0 #ffcdd2, 150px 200px 0 0 #ffcdd2, 175px 200px 0 0 #ffcdd2, 200px 200px 0 0 #ffcdd2, 225px 200px 0 0 #ffcdd2, 250px 200px 0 0 #ffcdd2, 275px 200px 0 0 #ffcdd2, 300px 200px 0 0 #ffcdd2, 75px 250px 0 0 #e91e63, 100px 250px 0 0 #e91e63, 125px 250px 0 0 #e91e63, 150px 250px 0 0 #e91e63, 175px 250px 0 0 #e91e63, 200px 250px 0 0 #e91e63, 225px 250px 0 0 #e91e63, 250px 250px 0 0 #e91e63, 275px 250px 0 0 #e91e63, 300px 250px 0 0 #e91e63, 325px 250px 0 0 #e91e63, 350px 250px 0 0 #e91e63, 75px 275px 0 0 #e91e63, 100px 275px 0 0 #e91e63, 125px 275px 0 0 #e91e63, 150px 275px 0 0 #e91e63, 175px 275px 0 0 #e91e63, 200px 275px 0 0 #e91e63, 225px 275px 0 0 #e91e63, 250px 275px 0 0 #e91e63, 275px 275px 0 0 #e91e63, 300px 275px 0 0 #e91e63, 325px 275px 0 0 #e91e63, 350px 275px 0 0 #e91e63, 75px 300px 0 0 #000000, 100px 300px 0 0 #e91e63, 125px 300px 0 0 #e91e63, 150px 300px 0 0 #e91e63, 175px 300px 0 0 #000000, 200px 300px 0 0 #e91e63, 225px 300px 0 0 #e91e63, 250px 300px 0 0 #000000, 275px 300px 0 0 #e91e63, 300px 300px 0 0 #e91e63, 325px 300px 0 0 #e91e63, 350px 300px 0 0 #000000, 75px 325px 0 0 #ffcdd2, 100px 325px 0 0 #000000, 125px 325px 0 0 #000000, 150px 325px 0 0 #000000, 175px 325px 0 0 #ffcdd2, 200px 325px 0 0 #000000, 225px 325px 0 0 #000000, 250px 325px 0 0 #ffcdd2, 275px 325px 0 0 #000000, 300px 325px 0 0 #000000, 325px 325px 0 0 #000000, 350px 325px 0 0 #ffcdd2, 75px 350px 0 0 #ffcdd2, 100px 350px 0 0 #ffcdd2, 125px 350px 0 0 #ffcdd2, 150px 350px 0 0 #ffcdd2, 175px 350px 0 0 #ffcdd2, 200px 350px 0 0 #ffcdd2, 225px 350px 0 0 #ffcdd2, 250px 350px 0 0 #ffcdd2, 275px 350px 0 0 #ffcdd2, 300px 350px 0 0 #ffcdd2, 325px 350px 0 0 #ffcdd2, 350px 350px 0 0 #ffcdd2, 75px 375px 0 0 #ffcdd2, 100px 375px 0 0 #ffcdd2, 125px 375px 0 0 #ffcdd2, 150px 375px 0 0 #ffcdd2, 175px 375px 0 0 #ffcdd2, 200px 375px 0 0 #ffcdd2, 225px 375px 0 0 #ffcdd2, 250px 375px 0 0 #ffcdd2, 275px 375px 0 0 #ffcdd2, 300px 375px 0 0 #ffcdd2, 325px 375px 0 0 #ffcdd2, 350px 375px 0 0 #ffcdd2;height: 25px; width: 25px;
  }
66.71000000000001%, 100%{
  box-shadow: 175px 25px 0 0 #000000, 200px 25px 0 0 #ff9800, 225px 25px 0 0 #ff9800, 250px 25px 0 0 #000000, 175px 50px 0 0 #000000, 200px 50px 0 0 #ff9800, 225px 50px 0 0 #ff9800, 250px 50px 0 0 #000000, 200px 75px 0 0 #000000, 225px 75px 0 0 #000000, 125px 100px 0 0 #000000, 150px 100px 0 0 #000000, 175px 100px 0 0 #000000, 200px 100px 0 0 #000000, 225px 100px 0 0 #000000, 250px 100px 0 0 #000000, 275px 100px 0 0 #000000, 300px 100px 0 0 #000000, 100px 125px 0 0 #000000, 125px 125px 0 0 #e91e63, 150px 125px 0 0 #e91e63, 175px 125px 0 0 #e91e63, 200px 125px 0 0 #e91e63, 225px 125px 0 0 #e91e63, 250px 125px 0 0 #e91e63, 275px 125px 0 0 #e91e63, 300px 125px 0 0 #e91e63, 325px 125px 0 0 #000000, 100px 150px 0 0 #000000, 125px 150px 0 0 #000000, 150px 150px 0 0 #e91e63, 175px 150px 0 0 #e91e63, 200px 150px 0 0 #000000, 225px 150px 0 0 #000000, 250px 150px 0 0 #e91e63, 275px 150px 0 0 #e91e63, 300px 150px 0 0 #000000, 325px 150px 0 0 #000000, 100px 175px 0 0 #000000, 125px 175px 0 0 #ffcdd2, 150px 175px 0 0 #000000, 175px 175px 0 0 #000000, 200px 175px 0 0 #ffcdd2, 225px 175px 0 0 #ffcdd2, 250px 175px 0 0 #000000, 275px 175px 0 0 #000000, 300px 175px 0 0 #ffcdd2, 325px 175px 0 0 #000000, 100px 200px 0 0 #000000, 125px 200px 0 0 #ffcdd2, 150px 200px 0 0 #ffcdd2, 175px 200px 0 0 #ffcdd2, 200px 200px 0 0 #ffcdd2, 225px 200px 0 0 #ffcdd2, 250px 200px 0 0 #ffcdd2, 275px 200px 0 0 #ffcdd2, 300px 200px 0 0 #ffcdd2, 325px 200px 0 0 #000000, 75px 225px 0 0 #000000, 100px 225px 0 0 #000000, 125px 225px 0 0 #000000, 150px 225px 0 0 #000000, 175px 225px 0 0 #000000, 200px 225px 0 0 #000000, 225px 225px 0 0 #000000, 250px 225px 0 0 #000000, 275px 225px 0 0 #000000, 300px 225px 0 0 #000000, 325px 225px 0 0 #000000, 350px 225px 0 0 #000000, 50px 250px 0 0 #000000, 75px 250px 0 0 #e91e63, 100px 250px 0 0 #e91e63, 125px 250px 0 0 #e91e63, 150px 250px 0 0 #e91e63, 175px 250px 0 0 #e91e63, 200px 250px 0 0 #e91e63, 225px 250px 0 0 #e91e63, 250px 250px 0 0 #e91e63, 275px 250px 0 0 #e91e63, 300px 250px 0 0 #e91e63, 325px 250px 0 0 #e91e63, 350px 250px 0 0 #e91e63, 375px 250px 0 0 #000000, 50px 275px 0 0 #000000, 75px 275px 0 0 #e91e63, 100px 275px 0 0 #e91e63, 125px 275px 0 0 #e91e63, 150px 275px 0 0 #e91e63, 175px 275px 0 0 #e91e63, 200px 275px 0 0 #e91e63, 225px 275px 0 0 #e91e63, 250px 275px 0 0 #e91e63, 275px 275px 0 0 #e91e63, 300px 275px 0 0 #e91e63, 325px 275px 0 0 #e91e63, 350px 275px 0 0 #e91e63, 375px 275px 0 0 #000000, 50px 300px 0 0 #000000, 75px 300px 0 0 #000000, 100px 300px 0 0 #e91e63, 125px 300px 0 0 #e91e63, 150px 300px 0 0 #e91e63, 175px 300px 0 0 #000000, 200px 300px 0 0 #e91e63, 225px 300px 0 0 #e91e63, 250px 300px 0 0 #000000, 275px 300px 0 0 #e91e63, 300px 300px 0 0 #e91e63, 325px 300px 0 0 #e91e63, 350px 300px 0 0 #000000, 375px 300px 0 0 #000000, 50px 325px 0 0 #000000, 75px 325px 0 0 #ffcdd2, 100px 325px 0 0 #000000, 125px 325px 0 0 #000000, 150px 325px 0 0 #000000, 175px 325px 0 0 #ffcdd2, 200px 325px 0 0 #000000, 225px 325px 0 0 #000000, 250px 325px 0 0 #ffcdd2, 275px 325px 0 0 #000000, 300px 325px 0 0 #000000, 325px 325px 0 0 #000000, 350px 325px 0 0 #ffcdd2, 375px 325px 0 0 #000000, 50px 350px 0 0 #000000, 75px 350px 0 0 #ffcdd2, 100px 350px 0 0 #ffcdd2, 125px 350px 0 0 #ffcdd2, 150px 350px 0 0 #ffcdd2, 175px 350px 0 0 #ffcdd2, 200px 350px 0 0 #ffcdd2, 225px 350px 0 0 #ffcdd2, 250px 350px 0 0 #ffcdd2, 275px 350px 0 0 #ffcdd2, 300px 350px 0 0 #ffcdd2, 325px 350px 0 0 #ffcdd2, 350px 350px 0 0 #ffcdd2, 375px 350px 0 0 #000000, 50px 375px 0 0 #000000, 75px 375px 0 0 #ffcdd2, 100px 375px 0 0 #ffcdd2, 125px 375px 0 0 #ffcdd2, 150px 375px 0 0 #ffcdd2, 175px 375px 0 0 #ffcdd2, 200px 375px 0 0 #ffcdd2, 225px 375px 0 0 #ffcdd2, 250px 375px 0 0 #ffcdd2, 275px 375px 0 0 #ffcdd2, 300px 375px 0 0 #ffcdd2, 325px 375px 0 0 #ffcdd2, 350px 375px 0 0 #ffcdd2, 375px 375px 0 0 #000000, 75px 400px 0 0 #000000, 100px 400px 0 0 #000000, 125px 400px 0 0 #000000, 150px 400px 0 0 #000000, 175px 400px 0 0 #000000, 200px 400px 0 0 #000000, 225px 400px 0 0 #000000, 250px 400px 0 0 #000000, 275px 400px 0 0 #000000, 300px 400px 0 0 #000000, 325px 400px 0 0 #000000, 350px 400px 0 0 #000000;height: 25px; width: 25px;
  }
}
